@import 'tailwindcss';
@import '@fontsource-variable/onest';
@plugin "@tailwindcss/typography";
@plugin "@midudev/tailwind-animations";

@utility font-onest {
  font-family: 'Onest Variable', sans-serif;
}

@utility font-onest-bold {
  font-family: 'Onest Variable', sans-serif;
  font-weight: 700;
}

@utility hover-link {
  cursor: pointer;
  transition: 200ms ease-in-out;
  &:hover {
    transition: 100ms ease-in;
    color: #fff186;
    transform: scale(1.1);
  }
}

@utility mask-fade-name {
  mask-image: linear-gradient(to bottom, #1f1f30 60%, transparent 100%);
}

@utility my-border-dashed {
  border: 1px dashed rgba(255, 255, 255, 0.15);
  border-radius: 6px;
}

@utility my-animate {
  transition: all 5s linear;
}
