@import 'tailwindcss';
@import '@fontsource-variable/onest';
@plugin "@tailwindcss/typography";
@plugin "@midudev/tailwind-animations";

@utility font-onest {
  font-family: 'Onest Variable', sans-serif;
}

@utility font-onest-bold {
  font-family: 'Onest Variable', sans-serif;
  font-weight: 700;
}

@utility hover-link {
  cursor: pointer;
  transition: 200ms ease-in-out;
  &:hover {
    transition: 100ms ease-in;
    color: #fff186;
    transform: scale(1.1);
  }
}

@utility mask-fade-name {
  mask-image: linear-gradient(to bottom, #1f1f30 60%, transparent 100%);
}

@utility my-border-dashed {
  border: 1px dashed rgba(255, 255, 255, 0.15);
  border-radius: 6px;
}

@utility my-animate {
  transition: all 5s linear;
}

@utility underline-left {
  &::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0.5px;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
  }
}

@utility detail-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}
