---
const { title, href } = Astro.props;
---

<a
  arai-label={title}
  href={href}
  target="_blank"
  class="flex justify-center gap-1.5 text-xs md:text-base items-center animate-fade-in animate-delay-500 bg-gray-100/10 backdrop-blur-2xl border font-onest transition-all border-white/30 text-white py-1 px-2 rounded-full cursor-pointer hover:text-gray-900 hover:bg-white/95 focus-within:text-gray-900 focus-within:bg-white/95 focus:outline-none active:scale-90"
>
  <slot />
  {title}
</a>
