---
import { Code, Profile, Email } from '@/assets/index.js';
---

<nav class="flex justify-center">
  <ul
    class="flex justify-center gap-6 items-center text-xs md:text-base font-onest w-full animate-fade-in"
  >
    <li
      class="hover-link focus-within:text-[#fff186] focus-within:scale-105 group"
    >
      <a class="flex gap-1 items-center" href="#projects">
        Proyectos
        <Code
          class="opacity-0 w-3.5 transition-all group-hover:opacity-100 group-hover:text-amber-200 group-focus-within:opacity-100 group-focus-within:text-amber-200"
        />
      </a>
    </li>
    <li
      class="hover-link focus-within:text-[#fff186] focus-within:scale-105 group"
    >
      <a class="flex gap-1 items-center" href="#about">
        Sobre mi
        <Profile
          class="opacity-0 w-3.5 transition-all group-hover:opacity-100 group-hover:text-amber-200 group-focus-within:opacity-100 group-focus-within:text-amber-200"
        />
      </a>
    </li>
    <li
      class="hover-link focus-within:text-[#fff186] focus-within:scale-105 group"
    >
      <a
        class="flex gap-1 items-center"
        href="mailto:nicoatapie@gmail.com"
        target="_blank"
      >
        Contacto
        <Email
          class="opacity-0 w-3.5 transition-all group-hover:opacity-100 group-hover:text-amber-200 group-focus-within:opacity-100 group-focus-within:text-amber-200"
        />
      </a>
    </li>
  </ul>
</nav>
