---
import Email from '@/assets/Email.svg';
import Code from '@/assets/Code.svg';
import Profile from '@/assets/Profile.svg';
---

<nav class="flex justify-center">
  <ul
    class="flex justify-center gap-6 items-center text-xs md:text-base font-onest w-full animate-fade-in"
  >
    <li class="hover-link group">
      <a class="flex gap-1 items-center" href="#projects">
        Proyectos
        <Code
          class="opacity-0 group-hover:opacity-100 w-3.5 transition-all group-hover:text-amber-200"
        />
      </a>
    </li>
    <li class="hover-link group">
      <a class="flex gap-1 items-center" href="#about">
        Sobre mi
        <Profile
          class="opacity-0 group-hover:opacity-100 w-3.5 transition-all group-hover:text-amber-200"
        />
      </a>
    </li>
    <li class="hover-link group">
      <a
        class="flex gap-1 items-center"
        href="mailto:nicoatapie@gmail.com"
        target="_blank"
      >
        Contacto
        <Email
          class="opacity-0 group-hover:opacity-100 w-3.5 transition-all group-hover:text-amber-200"
        />
      </a>
    </li>
  </ul>
</nav>
