<nav class="flex justify-center">
  <ul class="flex justify-center gap-6 font-onest w-full animate-fade-in">
    <li class="hover-link">Proyectos</li>
    <li class="hover-link">Sobre mi</li>
    <li class="hover-link">Experiencia</li>
    <li class="hover-link">Contacto</li>
  </ul>
</nav>
