<nav class="flex justify-center">
  <ul class="flex justify-center gap-6 font-onest w-full animate-fade-in">
    <li class="hover-link"><a href="#projects">Proyectos</a></li>
    <li class="hover-link"><a href="">Sobre mi</a></li>
    <li class="hover-link"><a href="">Experiencia</a></li>
    <li class="hover-link"><a href="">Contacto</a></li>
  </ul>
</nav>
