---
import ArrowRight from '@/assets/ArrowRight.svg';
const { href } = Astro.props;
---

<a
  aria-label="Visitar proyecto"
  href={href}
  target="_blank"
  class="flex justify-center w-auto group gap-1.5 items-center invisible group-hover:visible group-focus-within:visible animate-fade-in animate-delay-500 bg-gray-100/10 backdrop-blur-2xl border font-onest transition-all border-gray-300 text-white py-2 px-2.5 rounded-xl cursor-pointer hover:text-gray-900 hover:bg-white/95 focus:text-gray-900 focus:bg-white/95"
>
  <slot />
  Visitar proyecto
  <ArrowRight class="w-5" />
</a>
