---
const { src, alt, class: className = '' } = Astro.props;
---

<div
  class={`group ${className} h-40 col-span-6  relative overflow-hidden row-span-5  lg:h-60 rounded-lg border shadow-gray-900 shadow-md border-white/20 hover:border-white/30 bg-gradient-to-br from-slate-900 to-slate-800 transition-all`}
  tabindex="0"
>
  <img
    src={src}
    alt={alt}
    class="absolute inset-0 h-full w-full rounded-lg transition-transform ease-in-out group-hover:scale-105 group-focus-within:scale-105"
  />

  <div
    class="relative z-10 flex flex-col justify-end h-full w-full p-1 md:p-6 bg-gradient-to-t from-slate-950/50 via-slate-950/30 to-transparent group-focus-within:bg-gradient-to-t group-focus-within:from-slate-950/70 group-focus-within:via-slate-950/50 group-focus-within:to-transparent hover:bg-gradient-to-t hover:from-slate-950/70 hover:via-slate-950/50 hover:to-transparent transition-all"
  >
    <slot />
  </div>
</div>
