---
const { href, name } = Astro.props;
---

<a
  href={href}
  aria-label=`Ir a ${name}`
  class="w-8 h-8 flex justify-center items-center rounded-full border border-white bg-gray-800 text-gray-300 hover:bg-gray-800/80 focus-within:text-[#fff186] focus-within:scale-105 hover-link"
  target="_blank"
>
  <slot />
</a>
