---
import ProjectLinkButton from '@/components/ProjectLinkButton.astro';
import DetailProject from '@/components/DetailProject.astro';
import IconsProjects from '@/components/IconsProjects.astro';
import Project from '@/components/Project.astro';
import LinksProject from '@/components/LinksProject.astro';

const { id } = Astro.props;
---

<section class="w-full h-full p-1 md:p-4 mb-8 md:mb-30 mt-2 md:mt-40" id={id}>
  <h2 class="font-onest-bold text-center mb-10 text-white text-2xl md:text-5xl">
    Proyectos y Experiencia Práctica
  </h2>

  <div
    class="grid bg-gray-800/10 border-1 border-gray-700/30 rounded-2xl grid-cols-1 grid-rows-1 md:grid-cols-12 md:grid-rows-10 gap-4 p-4 shadow-2xl shadow-[#212130]/90 animate-fade-in"
  >
    <!-- GEO ARGENTINA API -->
    <Project
      src="/screenshots/geo-api.png"
      alt="GeoArgentinaAPI"
      className="col-span-6"
    >
      <LinksProject>
        <ProjectLinkButton href="https://geoargentina-api.vercel.app/" />
        <DetailProject
          content="GeoArgentina API es una herramienta RESTful que proporciona datos geográficos detallados y actualizados sobre Argentina. Facilita el acceso a información de provincias, departamentos, localidades y otros datos territoriales, ideal para desarrolladores que necesiten integrar datos geoespaciales en sus aplicaciones, sitios web o sistemas de información. La API es sencilla de usar, está bien documentada y optimizada para consultas rápidas y eficientes."
        >
          <IconsProjects src="/Nodejs.svg" alt="Nodejs" />
          <IconsProjects src="/Astro.svg" alt="Astro" />
          <IconsProjects src="/Html.svg" alt="Html" />
          <IconsProjects src="/Tailwindcss.svg" alt="Tailwindcss" />
          <IconsProjects src="/React.svg" alt="React" />
          <IconsProjects src="/Vercel.svg" alt="Vercel" />
          <IconsProjects src="/Express.svg" alt="Express" />
        </DetailProject>
      </LinksProject>
    </Project>

    <!-- CINE INFO -->
    <Project
      src="/screenshots/cine-info.png"
      alt="Memory Game"
      className="col-span-6 row-span-5 col-start-1 row-start-6"
    >
      <LinksProject>
        <ProjectLinkButton href="https://cine-info-ten.vercel.app/" />
        <DetailProject
          content="Cine Info Ten es una aplicación web interactiva desarrollada con Astro y la API de TMDB. Ofrece información detallada sobre películas y series, trailers, sinopsis, elencos y más. Su diseño es completamente responsive, brindando una experiencia óptima en todos los dispositivos."
        >
          <IconsProjects src="/Astro.svg" alt="Astro" />
          <IconsProjects src="/Tailwindcss.svg" alt="Tailwindcss" />
          <IconsProjects src="/JavaScript.svg" alt="JavaScript" />
          <IconsProjects src="/Vercel.svg" alt="Vercel" />
        </DetailProject>
      </LinksProject>
    </Project>

    <!-- MEMORY GAME -->
    <Project
      src="/screenshots/memory.png"
      alt="Memory Game"
      className="col-span-6 row-span-5 col-start-7 row-start-1"
    >
      <LinksProject>
        <ProjectLinkButton href="https://memory-game-prog.vercel.app/Gaming " />
        <DetailProject
          content="Memory Game es una aplicación web interactiva desarrollada con Astro que pone a prueba tu memoria visual. El objetivo es encontrar todas las parejas de cartas en el menor tiempo posible. La interfaz es completamente responsive, adaptándose a dispositivos móviles, tabletas y escritorios, garantizando una experiencia de usuario fluida en cualquier pantalla. Además, ofrece diferentes niveles de dificultad para desafiar tus habilidades cognitivas."
        >
          <IconsProjects src="/Astro.svg" alt="Astro" />
          <IconsProjects src="/Css.svg" alt="Css" />
          <IconsProjects src="/Html.svg" alt="Html" />
          <IconsProjects src="/JavaScript.svg" alt="JavaScript" />
          <IconsProjects src="/Vercel.svg" alt="Vercel" />
        </DetailProject>
      </LinksProject>
    </Project>

    <!-- WEATHER WATCH -->
    <Project
      src="/screenshots/weather.png"
      alt="Memory Game"
      className="col-span-6 row-span-5 col-start-7 row-start-6"
    >
      <LinksProject>
        <ProjectLinkButton href="https://weatherwatch-app.vercel.app/" />
        <DetailProject
          content="WeatherWatch es una aplicación web moderna y fácil de usar que te permite consultar el pronóstico del tiempo en tiempo real. Desarrollada con React y desplegada en Vercel, la aplicación ofrece una interfaz limpia y responsiva que se adapta perfectamente a dispositivos móviles y de escritorio. Utiliza la API de OpenWeatherMap para proporcionar información precisa sobre el clima, incluyendo temperatura, humedad, velocidad del viento y condiciones generales. Además, permite buscar el clima por ciudad o acceder a la ubicación actual del usuario para obtener datos meteorológicos personalizados."
        >
          <IconsProjects src="/Html.svg" alt="Html" />
          <IconsProjects src="/React.svg" alt="React" />
          <IconsProjects src="/Vercel.svg" alt="Vercel" />
        </DetailProject>
      </LinksProject>
    </Project>
  </div>
</section>
