---
import ProjectLinkButton from '@/components/ProjectLinkButton.astro';
import DetailProject from '@/components/DetailProject.astro';
import IconsProjects from '@/components/IconsProjects.astro';
import Project from '@/components/Project.astro';
import LinksProject from '@/components/LinksProject.astro';
import Soon from './Soon.astro';

const { id } = Astro.props;
---

<section
  class="w-full h-full max-w-[1920px] scroll-m-20 p-1 md:p-4 mb-8 md:mb-30 mt-2 md:mt-40 xl:px-40 2xl:px-[420px]"
  id={id}
>
  <h2
    class="font-onest-bold text-center mb-10 text-white text-2xl md:text-4xl lg:text-5xl"
  >
    Proyectos y Experiencia Práctica
  </h2>

  <div
    class="grid bg-gray-800/10 border-1 md:px-4 sm:px-2 border-gray-700/30 rounded-2xl grid-cols-1 grid-rows-1 md:grid-cols-12 md:grid-rows-10 gap-4 p-4 shadow-2xl shadow-[#212130]/90 animate-fade-in"
  >
    <!-- GEO ARGENTINA API -->
    <Project
      src="/screenshots/geo-api.webp"
      alt="GeoArgentinaAPI"
      className="col-span-6"
    >
      <LinksProject>
        <ProjectLinkButton href="https://geoargentina-api.vercel.app/" />
        <DetailProject
          content="GeoArgentina API es una herramienta RESTful que proporciona datos geográficos detallados y actualizados sobre Argentina. Facilita el acceso a información de provincias, departamentos, localidades y otros datos territoriales, ideal para desarrolladores que necesiten integrar datos geoespaciales en sus aplicaciones, sitios web o sistemas de información. La API es sencilla de usar, está bien documentada y optimizada para consultas rápidas y eficientes."
        >
          <IconsProjects src="/Nodejs.svg" alt="Nodejs" />
          <IconsProjects src="/Astro.svg" alt="Astro" />
          <IconsProjects src="/Html.svg" alt="Html" />
          <IconsProjects src="/Tailwindcss.svg" alt="Tailwindcss" />
          <IconsProjects src="/React.svg" alt="React" />
          <IconsProjects src="/Vercel.svg" alt="Vercel" />
          <IconsProjects src="/Express.svg" alt="Express" />
        </DetailProject>
      </LinksProject>
    </Project>

    <!-- CINE INFO -->
    <Project
      src="/screenshots/cine-info.webp"
      alt="Memory Game"
      className="col-span-6 row-span-5 col-start-1 row-start-6"
    >
      <LinksProject>
        <ProjectLinkButton href="https://cine-info-ten.vercel.app/" />
        <DetailProject
          content="Cine Info Ten es una aplicación web interactiva desarrollada con Astro y la API de TMDB. Ofrece información detallada sobre películas y series, trailers, sinopsis, elencos y más. Su diseño es completamente responsive, brindando una experiencia óptima en todos los dispositivos."
        >
          <IconsProjects src="/Astro.svg" alt="Astro" />
          <IconsProjects src="/Tailwindcss.svg" alt="Tailwindcss" />
          <IconsProjects src="/JavaScript.svg" alt="JavaScript" />
          <IconsProjects src="/Vercel.svg" alt="Vercel" />
        </DetailProject>
      </LinksProject>
    </Project>

    <!-- MEMORY GAME -->
    <Project
      src="/screenshots/memory.webp"
      alt="Memory Game"
      className="col-span-6 row-span-5 col-start-7 row-start-1"
    >
      <LinksProject>
        <ProjectLinkButton href="https://memory-game-prog.vercel.app/Gaming " />
        <DetailProject
          content="Memory Game es una aplicación web interactiva desarrollada con Astro que pone a prueba tu memoria visual. El objetivo es encontrar todas las parejas de cartas en el menor tiempo posible. La interfaz es completamente responsive, adaptándose a dispositivos móviles, tabletas y escritorios, garantizando una experiencia de usuario fluida en cualquier pantalla. Además, ofrece diferentes niveles de dificultad para desafiar tus habilidades cognitivas."
        >
          <IconsProjects src="/Astro.svg" alt="Astro" />
          <IconsProjects src="/Css.svg" alt="Css" />
          <IconsProjects src="/Html.svg" alt="Html" />
          <IconsProjects src="/JavaScript.svg" alt="JavaScript" />
          <IconsProjects src="/Vercel.svg" alt="Vercel" />
        </DetailProject>
      </LinksProject>
    </Project>

    <!-- ISOLINA -->
    <Project
      src="/screenshots/isolina.webp"
      alt="Isolina"
      className="col-span-6 row-span-5 col-start-7 row-start-6"
    >
      <LinksProject>
        <ProjectLinkButton href="https://isolina.vercel.app" />
        <DetailProject
          content="ISOLINA es un emprendimiento de diseño y producción de indumentaria ubicado en La Pampa, que ofrece una experiencia personalizada y de alta calidad para quienes buscan prendas únicas. Su página presenta una interfaz limpia y minimalista que permite explorar fácilmente sus servicios, trabajos y contacto."
        >
          <IconsProjects src="/Astro.svg" alt="Astro" />
          <IconsProjects src="/Tailwindcss.svg" alt="Tailwindcss" />
          <IconsProjects src="/JavaScript.svg" alt="JavaScript" />
          <IconsProjects src="/Vercel.svg" alt="Vercel" />
        </DetailProject>
      </LinksProject>
    </Project>

    <!-- WEATHER WATCH -->
    <Project
      src="/screenshots/weather.webp"
      alt="WheatherWatch"
      className="place-self-center"
    >
      <LinksProject>
        <ProjectLinkButton href="https://weatherwatch-app.vercel.app/" />
        <DetailProject
          content="WeatherWatch es una aplicación web moderna y fácil de usar que te permite consultar el pronóstico del tiempo en tiempo real. Desarrollada con React y desplegada en Vercel, la aplicación ofrece una interfaz limpia y responsiva que se adapta perfectamente a dispositivos móviles y de escritorio. Utiliza la API de OpenWeatherMap para proporcionar información precisa sobre el clima, incluyendo temperatura, humedad, velocidad del viento y condiciones generales. Además, permite buscar el clima por ciudad o acceder a la ubicación actual del usuario para obtener datos meteorológicos personalizados."
        >
          <IconsProjects src="/Html.svg" alt="Html" />
          <IconsProjects src="/React.svg" alt="React" />
          <IconsProjects src="/Vercel.svg" alt="Vercel" />
        </DetailProject>
      </LinksProject>
    </Project>

    <Soon />
  </div>
</section>
