<div
  class="group h-40 col-span-6 flex justify-center items-center text-gray-600 text-2xl font-bold relative overflow-hidden row-span-5 lg:h-60 rounded-lg border shadow-gray-900 shadow-md border-white/20 hover:border-white/30 bg-gradient-[#222233] transition-all"
  tabindex="0"
>
  Próximamente...
</div>
