---
import SvgTechnologies from '@/components/SvgTechnologies.astro';
---

<div class="glide mt-20 w-full">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides h-14 flex gap-4">
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Html.svg" alt="Html" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/JavaScript.svg" alt="JavaScript" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Css.svg" alt="Css" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Astro.svg" alt="Astro" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Vercel.svg" alt="Vercel" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/React.svg" alt="React" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Mongo.svg" alt="Mongo" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Python.svg" alt="Python" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Tailwindcss.svg" alt="Tailwindcss" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Nodejs.svg" alt="Nodejs" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/MySql.svg" alt="MySql" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Express.svg" alt="Express" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/GithubSlide.svg" alt="Github" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Postgre.svg" alt="Postgre" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Html.svg" alt="Html" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/JavaScript.svg" alt="JavaScript" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Css.svg" alt="Css" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Astro.svg" alt="Astro" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Vercel.svg" alt="Vercel" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/React.svg" alt="React" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Mongo.svg" alt="Mongo" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Python.svg" alt="Python" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Tailwindcss.svg" alt="Tailwindcss" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Nodejs.svg" alt="Nodejs" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/MySql.svg" alt="MySql" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Express.svg" alt="Express" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/GithubSlide.svg" alt="Github" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="src/assets/Postgre.svg" alt="Postgre" />
      </li>
    </ul>
  </div>
</div>
