---
import SvgTechnologies from '@/components/SvgTechnologies.astro';
---

<div class="glide mt-4 md:mt-20 hidden md:block w-full overflow-x-hidden">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides h-14 flex gap-4">
      <li class="glide__slide">
        <SvgTechnologies src="/Html.svg" alt="Html" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/JavaScript.svg" alt="JavaScript" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Css.svg" alt="Css" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Astro.svg" alt="Astro" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Vercel.svg" alt="Vercel" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/React.svg" alt="React" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Mongo.svg" alt="Mongo" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Python.svg" alt="Python" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Tailwindcss.svg" alt="Tailwindcss" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Nodejs.svg" alt="Nodejs" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/MySql.svg" alt="MySql" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Express.svg" alt="Express" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/GithubSlide.svg" alt="Github" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Postgre.svg" alt="Postgre" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Html.svg" alt="Html" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/JavaScript.svg" alt="JavaScript" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Css.svg" alt="Css" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Astro.svg" alt="Astro" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Vercel.svg" alt="Vercel" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/React.svg" alt="React" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Mongo.svg" alt="Mongo" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Python.svg" alt="Python" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Tailwindcss.svg" alt="Tailwindcss" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Nodejs.svg" alt="Nodejs" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/MySql.svg" alt="MySql" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Express.svg" alt="Express" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/GithubSlide.svg" alt="Github" />
      </li>
      <li class="glide__slide">
        <SvgTechnologies src="/Postgre.svg" alt="Postgre" />
      </li>
    </ul>
  </div>
</div>
