---
import '@/styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="node_modules/@glidejs/glide/dist/css/glide.core.min.css"
    />
    <meta name="author" content="Nicolás Alejandro Tapié" />
    <meta name="description" content="Portfolio de Nicolás Alejandro Tapié" />
    <meta
      name="keywords"
      content="portfolio, Nicolás Tapié, desarrollo web, diseño web"
    />

    <title>Portfolio - Nicolás Alejandro Tapié - Programador</title>
  </head>
  <body
    class="overflow-x-hidden box-border w-full h-full m-0 p-0 scroll-smooth"
  >
    <div
      class="px-72 w-full h-full flex flex-col items-center bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
      <slot />
    </div>
    <script type="module" src="src/utils/glide.js"></script>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
