---
import '@/styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="node_modules/@glidejs/glide/dist/css/glide.core.min.css"
    />
    <meta name="author" content="Nicolás Alejandro Tapié" />
    <meta
      name="description"
      content="Portfolio profesional de Nicolás Alejandro Tapié, programador y desarrollador web especializado en React, Node.js y APIs. Proyectos con diseño moderno, alto rendimiento y soluciones creativas."
    />
    <meta
      name="keywords"
      content="portfolio, Nicolás Tapié, desarrollador web, programador, React, Node.js, diseño web, La Pampa, Argentina"
    />
    <meta
      name="google-site-verification"
      content="wid9loQWRCitNfg5rg_mejrb6EXRw3vPysk0r4asLZA"
    />

    <meta property="og:title" content="Portfolio de Nicolás Alejandro Tapié" />
    <meta
      property="og:description"
      content="Portfolio profesional de Nicolás Alejandro Tapié, programador y desarrollador web especializado en React, Node.js y APIs. Proyectos con diseño moderno, alto rendimiento y soluciones creativas."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/portfolio-nico.png" />
    <meta
      property="og:url"
      content="https://portfolio-nicolas-alejandro-tapie.vercel.app/"
    />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Nicolás Alejandro Tapié",
        "jobTitle": "Programador y Desarrollador Web",
        "url": "https://portfolio-nicolas-alejandro-tapie.vercel.app/",
        "email": "mailto:nicoatapie@gmail.com",
        "image": "/nico.webp",
        "sameAs": [
          "https://www.linkedin.com/in/nicolasatapiedev30/",
          "https://github.com/nicotapie30"
        ]
      }
    </script>

    <title>
      Portfolio - Nicolás Alejandro Tapié - Programador y Desarrollador Web
    </title>
  </head>
  <body
    class="overflow-x-hidden box-border w-full h-full m-0 p-0 scroll-smooth"
  >
    <div
      class="overflow-hidden mx-auto w-full h-full flex flex-col items-center bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
      <slot />
      <script type="module" src="/glide.js"></script>
    </div>
  </body>
</html>

<style>
  html {
    width: 100%;
    scroll-behavior: smooth;
  }
</style>
