---
import '@/styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Nicolás Alejandro Tapié" />
    <meta name="description" content="Portfolio de Nicolás Alejandro Tapié" />
    <meta
      name="keywords"
      content="portfolio, Nicolás Tapié, desarrollo web, diseño web"
    />

    <title>Portfolio - Nicolás Alejandro Tapié</title>
  </head>
  <body>
    <div
      class="top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>

    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
</style>
